{% extends "base.html" %}

{% block style %}

{% endblock %}


{% block stuff %}

<h1 align="center">Welcome to Jaynami Productions</h1>
<br/>
<p align="center">Our mission is dedicated to improving the world with technology.</p>
<p align="center">The world is experiencing unprecedented advancements in the collection 
    and availability of information. Technology has become an extension of ourselves. It is
    our duty to create products that will result in serviceable outcomes.</p>
<p align="center">Let us learn, let us help. Follow along our journey and grow with us.</p>
<br/>
<p><b>Jason Lee</b> - Founder, Application Developer</p>
<p>
    <ul>
        <li>M.S in Applied Health Informatics, Stony Brook University</li>
        <li>B.S in Health Science, Stony Brook University</li>
        <li>Data Analyst</li>
        <li>Certified Pharmacy Technician</li>
    </ul>
</p>
<p><b>Connect with me</b></p>
<p>
    <ul>
        <li><a href="https://www.linkedin.com/in/jasonleeyn/">LinkedIn</a></li>
        <li><a href="https://github.com/jaynamiproductions">GitHub</a></li>
    </ul>
</p>
{% endblock %}