{% extends "base.html" %}

{% block stuff %}
<h1 align="center">Frequently Asked Questions (FAQ) about Opioid Treatment Programs</h1>
<br/>
<div>
    <div>
        <p><b>What are Opioid Treatment Programs?</b></p>
        <p><sup>1</sup>Opioid Treatment Programs (OTPs) provide medication-assisted treatment 
            (MAT) for people diagnosed with an opioid use disorder (OUD). <sup>2</sup>In addition, opioid use disorder (OUD) 
            patients also receive counseling and other behavioral therapies to provide patients with a whole-person approach.</p>
    </div>
    <br/>
    <div>
        <p><b>How are Opioid Treatment Programs accredited and certified? </b></p>
        <p><sup>2</sup>Outlined by the Certification of 
            Opioid Treatment Programs, the accreditation process for OTPs includes onsite visits by 
            specialists with experience in opioid treatment medications and related treatment 
            activities. The purpose of site visits is to ensure that OTPs meet specific, 
            nationally accepted standards for OTPs. </p>
        <p><sup>2</sup>Once an OTP is created, it is eligible for a provisional certifcation. This allows new OTPs to be
            certified for up to one year while they are in the process being accredited. After accreditation is complete, the OTP
            can apply to Substance Abuse and Mental Health Services Administration (SAMHSA) for full certification.
        </p>
        <p>
            <sup>3</sup>Opioid Treatment Plan (OTP) providers enrolled in Medicare must be fully 
            certified by the Substance Abuse and Mental Health Services (SAMHSA) and 
            accredited by a SAMHSA approved accrediting body.
        </p>
    </div>
    <br/>
    <div>
        <p><b>Does Medicare cover the utilization of Opioid Treatment Programs?</b></p>
        <p><sup>2</sup>Medicare pays OTPs through bundled payments for OUD treatment services 
            for people with Medicare Part B. Under the OTP benefit, Medicare covers:
            <ul>
                <li>U.S FDA-approved opioid agonist and antagonist MAT medications</li>
                <li>Dispensing and administering MAT medications, if applicable</li>
                <li>Substance use counseling</li>
                <li>Individual and group therapy</li>
                <li>Toxicology testing</li>
                <li>Intake activities</li>
                <li>Periodic assessments</li>
            </ul>
        </p>
    </div>
</div>


{% endblock %}