{% extends "home.html" %}

{% block content %}

{% if place == "USA" %}
<h4 align="center">{{name}}: {{ttl}} Opioid Treatment Providers</h4>
<h6 align="center"><b>Select a state to view a list of the providers.</b></h6>
{% else %}
<h4 align="center">{{name}}: {{num}} Opioid Treatment Providers</h3>

{% for npi,prov,ad1,ad2,city,st,zip,date,phone in infos %}
    <!-- <hr style="height:2px;background-color: #333"> -->
    <hr>
    <font size="+2"><p>{{prov}}</p></font>
    <p><b>NPI:</b> {{npi}}</p>
    <p><b>City:</b> {{city}}    <b>State:</b> {{st}}    <b>Zip Code:</b> {{zip}}</p>
    <p><b>Address Line 1:</b> {{ad1}}   <b>Address Line 2:</b> {{ad2}}</p>
    <p><b>Medicare ID Effective Date:</b> {{date}}</p>
    <p><b>Phone Number:</b> {{phone}}</p>
{% endfor %}
{% endif %}

{% endblock %}